aside {
    width: 50%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
     }

body {
    width: 60%;
    padding-left: 300px;
    float: left;
    text-align: justify;
    font-family: century;
    background-color: rgba(216, 216, 247, 0.733);
     }

h1 {
    text-align: center;
     }