:root {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(128,182,198,1) 100%);
    display:grid;
    place-items: center;
    font-family: 'Raleway', sans-serif;
    }

header {
    width:80vh;
    height: 100px;
    position: center;
    color: rgb(57, 57, 57);
    background-image: url("https://thumbs.dreamstime.com/b/teste-padr%C3%A3o-sem-emenda-placa-de-circuito-do-computador-43532477.jpg");
    border-radius: 10px;
    display:grid;
    place-items: center;
    }

aside {
    width: 50%;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    float: right;
    font-style: italic;
    background: rgba(245, 166, 35, 0.45);
    box-shadow: 0 8px 32px 0 rgba(135, 83, 31, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
    color: white;
    text-shadow: 3px 3px 4px black, 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(197, 197, 197);
}

h2 {
    color: white;
    text-align: left;
    text-shadow: 3px 3px 4px black, 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(197, 197, 197);
}

h1:hover {
    color: rgb(255, 255, 255);
}

h2:hover {
    color: white;
    text-shadow: 3px 3px 4px rgb(255, 255, 255), 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(0, 0, 0);
}


details {
    min-width: 75ch;
    max-width: 120ch;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 50px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18
    }

