aside {
    width: 80%;
    padding: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    float: right;
    font-style: italic;
    background: rgba( 245, 166, 35, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

html{
    background: rgb(65,64,64);
    background: linear-gradient(90deg, rgba(65,64,64,1) 0%, rgba(88,87,87,1) 20%, rgba(136,136,136,0.527345972568715) 63%);
    }

body {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    float: center;
    text-align: justify;
    inline-size: 2.em;
    font-family: 'Raleway', sans-serif;
     }

h1 {
    color:white;
    text-align: center;
    text-shadow: 2px 2px 3px black, 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(197, 197, 197);
    }

h2{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(197, 197, 197);
}
     
h1:hover {
        text-align: center;
        color: gray;    
    }

h2:hover {
    color: gray;    
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(197, 197, 197);
    }    
 
    
details {
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
    }

.details.HTML{
    position: absolute;
    }

.ConteúdoHTML{
    display: grid;
    grid-template: 4/4;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    }

.Coluna1 {
    grid-area: 1/1/4/3;
    position: relative;
    display:grid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
}

.Coluna2 {
    grid-area: 1/3/4/3;
    position: relative;
    display:grid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;  
}
