:root{
    display: grid;
    place-items: center;    
}

html {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(128,182,198,1) 100%);
    display: grid;
    place-items: center;
}

body {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    float: center;
    text-align: center;
    inline-size: 2.em;
    font-family: 'Raleway', sans-serif;
}
header {
    width: 73vh;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100px;
    color: rgb(57, 57, 57);
    background-image: url("https://thumbs.dreamstime.com/b/teste-padr%C3%A3o-sem-emenda-placa-de-circuito-do-computador-43532477.jpg");
    border-radius: 10px;
    display:grid;
    place-items: center;
}

aside {
    width: 50%;
    padding: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    float: right;
    font-style: italic;
    background: rgba(245, 166, 35, 0.45);
    box-shadow: 0 8px 32px 0 rgba(135, 83, 31, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
    color: white;
    text-size-adjust: vh50;
    text-shadow: 3px 3px 4px black, 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(197, 197, 197);
}

h2 {
    color: white;
    text-shadow: 3px 3px 4px black, 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(197, 197, 197);
}

h1:hover {
    text-align: center;
    color: rgb(255, 255, 255);
}

h2:hover {
    color: white;
    text-shadow: 3px 3px 4px rgb(255, 255, 255), 0 0 1em rgb(111, 111, 111), 0 0 0.2em rgb(0, 0, 0);
}


details {
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 70vh;
    text: 75ch 120ch;
    display: grid;
    place-items: center;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 50px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18
    }